* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primaryColor: hsl(13, 28%, 43%);
    --hoverColor: hsl(23, 74%, 55%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.75rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .grid {
    display: grid;
    align-items: center;
    gap: 0.5rem;
  }
  
  html {
    font-size: 80%;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
  }
  
  img,
  video {
    height: auto;
    width: 100%;
  }
  
  .message {
    display: none;
  }
  
  .showMessage {
    display: block;
    color: var(--whiteColor);
    padding: 10px;
    background: rgba(222, 84, 46, 0.726);
    border-radius: 3px;
    text-align: center;
  }
  
  .btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    color: var(--greyText);
  }
  
  .btn .icon {
    margin-left: 0.5rem;
  }
  
  .btn:hover {
    color: var(--primaryColor);
    background: var(--paleGreen);
  }
  
  .registerPage {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);
    /* background-image: url("https://png.pngtree.com/background/20230519/original/pngtree-the-shelves-of-a-bookstore-are-packed-with-lots-of-books-picture-image_2651084.jpg"); */
    background: hsla(0, 3%, 79%, 0.929);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
  }
  
  .imgDiv {
    display: flex;
    flex-basis: 50%;
    background: hsla(0, 3%, 79%, 0.929);
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .imgDiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .textDiv {
    margin-bottom: 20px;
  }
  
  .title {
    color: #a07555;
    font-size: 35px;
    font-weight: 800;
  }
  
  .footerDiv {
    padding: 1rem;
    height: 60px;
    background: rgba(255, 255, 255, 0.248);
    justify-content: space-between;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .text {
    color: var(--whiteColor);
  }
  
  .btn {
    background: var(--whiteColor);
    color: var(--primaryColor);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 400;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--hoverColor);
    color: var(--blackColor);
  }
  
  .formDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(-1rem);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    padding: 1 rem;
    gap: 0.5rem;
  }
  
  .inputDiv input {
    background: none;
    outline: none;
    border: none;
    width: 200px;
    padding: 0.3rem;
  }
  
  .inputDiv label {
    color: var(--blackColor);
    font-weight: 400;
    font-size: 14px;
    padding: 0.5rem 0;
    display: block;
  }
  
  .input {
    gap: 0.2rem;
    padding: 0.5rem;
    background: var(--inputColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputDiv btn {
    padding: 0.5rem;
    background: var(--primaryColor);
    border-radius: 10px;
    color: var(--whiteColor);
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    gap: 0.5rem;
    transition: 0.3s ease;
  }
  
  .inputDiv img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .forgetPassword {
    font-size: 12px;
    color: var(--blackColor);
    opacity: 0.7;
    text-align: center;
  }
  
  .forgetPassword a {
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
  }
  